{% extends 'portfolio/base.html' %} {% block content %} {% load static %}
<div class="text-center">
  <img
    src="{% static 'portfolio/teacher_man.png' %}"
    alt="banner"
    width="500px"
    height="100%"
  />
  <h1>Peter St.</h1>
  <h2>Welcome to Portfolio !</h2>
</div>
<h2>Portfolio</h2>
<hr />
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for project in projects %}
  <div class="col">
    <div class="card h-100">
      <img
        src="{{ project.image.url}}"
        class="card-img-top"
        alt="{{ project.title }}"
        height="300px"
      />

      <div class="card-body">
        <h5 class="card-title">{{ project.title }}</h5>
        <p class="card-text">
          {{ project.description|striptags|truncatechars:100 }}
        </p>
        {% if project.url %}
        <a href="{{ project.url}}" class="card-link">Go...</a>
        {% else %}
        <br />
        {%endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
